@model Bar.Models.Patron
@{
    ViewData["Title"] = "@Model.Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<hr />
<h4>Purchase Beer:</h4>
@using (Html.BeginForm())
{
    <label for="BeerId">Beer: </label>
    <select class="browser-default" name="selectedBeer" asp-items="@ViewBag.Beers"></select>

    <input class="btn" type="submit" value="Purchase Beer" />
}

<h4>@Model.Name's Tab</h4>
@{
    int priceCounter = 0;
    @foreach(Bar.Models.BeerPatron beerPatron in Model.BeerPatrons)
    {
        priceCounter += beerPatron.Beer.Price;
        <p>@beerPatron.Beer.Name<span>: $</span>@beerPatron.Beer.Price</p>
    }
    <h4>Total Bar Tab: $@priceCounter</h4>
}